# dependencies
/node_modules
/.pnp
.pnp.js
.next

# testing
/coverage
/allure-results
/allure-report
# Playwright test report and results
playwright-report/
test-results/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local alias mapping that has private information that shouldn't go in the repo
/tools/nameMap.ts

# Developer notes (ignored by Git and compiler)
*.ignore
